<%- layout('layouts/boilerplate') %>
<div class="row mb-5">
  <div class="col-8 offset-2">
    <div class="card mb-5">
      <div class="card-body">
        <h1 class="card-title text-center"><%= place.title %></h1>
      </div>
      <img class="card-image-top" src="<%= place.image %>" alt="Place" />
      <div class="card-body">
        <p class="card-text"><%= place.description %></p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item text-muted"><%= place.location %></li>
        <li class="list-group-item text-muted">
          Oluşturan: <%= place.author.username %>
        </li>
        <li class="list-group-item"><%= place.price %></li>
      </ul>
      <% if(currentUser && place.author.equals(currentUser._id)) { %>
      <div class="card-body">
        <a href="/places/<%= place._id %>/edit" class="btn btn-info text-light"
          >Düzenle</a
        >
        <form
          class="d-inline"
          method="POST"
          action="/places/<%= place._id %>?_method=DELETE"
        >
          <button class="btn btn-danger">Delete</button>
        </form>
      </div>
      <% } %>
    </div>
    <% if(currentUser) { %>
    <h2 class="mb-3">Yorum Ekle</h2>
    <form
      action="/places/<%= place._id %>/reviews"
      method="POST"
      novalidate
      class="validated-form mb-3"
    >
      <div class="mb-3">
        <label for="rating" class="form-label">Puan</label>
        <input
          name="review[rating]"
          type="range"
          min="1"
          max="5"
          class="form-range"
          id="rating"
        />
      </div>
      <div class="mb-3">
        <label for="review" class="form-label">Yorum</label>
        <textarea
          name="review[body]"
          id="review"
          class="form-control"
          cols="30"
          rows="3"
          required
        ></textarea>
      </div>
      <button class="btn btn-success">Submit</button>
    </form>
    <% } %> <% for(let review of place.reviews) { %>
    <div class="card mb-3">
      <div class="card-body">
        <h6 class="card-subtitle mb-2 text-muted">
          <%= review.author.username %>
        </h6>
        <h5 class="card-title">Puan: <%= review.rating %></h5>
        <p class="card-text">Yorum: <%= review.body %></p>
        <% if(currentUser && review.author.equals(currentUser._id)) {%>
        <form
          action="/places/<%= place._id %>/reviews/<%= review._id %>?_method=DELETE"
          method="POST"
        >
          <button class="btn btn-sm btn-danger">Yorumu Sil</button>
        </form>
        <% } %>
      </div>
    </div>
    <% } %>
  </div>
</div>
