<%- layout('layouts/boilerplate') %>
<h1><%= place.title %></h1>
<h2><%= place.location %></h2>
<img src="<%= place.image %>" alt="Place" />
<p><%= place.description %></p>
<h3><%= place.price %></h3>
